<%- include('reuseables/Header.ejs') %>


<div class="bg-yellow-100 w-full flex flex-col justify-center items-center h-[100vh]">
    <p class="text-4xl font-black">404 / Page Not Found !!</p>
    <p class="text-sm mt-3">Want to visit Homepage ?<a href="/" class="underline"> HOMEPAGE </a></p>
</div>




<%- include('reuseables/Footer.ejs') %>