
    
    <%- include('reuseables/Header.ejs') %>
    <%- include('reuseables/Navbar.ejs') %>



  <div class="h-[87vh] w-full flex justify-center items-center">
    <div class="w-10/12 sm:w-4/12 mx-auto">
        <% if(messages.error){%>
            <p class="text-black py-2 bg-red-200 text-center my-2"><%= messages.error %></p>
            <% }  %>

        <form method="post" action="/register" enctype="multipart/form-data">
            <div class="flex flex-row gap-1 mb-3">
                <input type="text" name="firstName" placeholder="First Name ..." id="" class="outline-blue-300 rounded-md border-2 py-2 px-3 w-6/12">
                <input type="text" name="lastName" placeholder="Last Name ..." id="" class=" rounded-md border-2 py-2 px-3 outline-blue-300 w-6/12">
            </div>
            <div class="mb-3">
              <input type="text" name="email" placeholder="Email " required class="outline-blue-300 rounded-md border-2 py-2 px-3 w-full" >
            </div>
            <div class="mb-3">
              <input name="password" pattern=".{4,16}"  title="8 or more Character" required type="password" placeholder="Password " class="outline-blue-300 rounded-md border-2 py-2 px-3 w-full">
            </div>
            <div class="mb-3">
              <input name="image" type="file" placeholder="profilePic " class=" rounded-md border-2 py-2 px-3 w-full">
            </div>
            <div class="">
              <button type="submit" class="py-1 px-3 bgThemeClr rounded-md font-bold w-full text-white  ">R E G I S T E R</button>
            </div>
        </form>
        <div class="flex flex-row mt-3 justify-evenly">
            <p class="text-sm text-gray-500">Not having Account ? </p>
            <a href="/login" class="underline textThemeClr">Login</a>
        </div>
        </div>
    
    </div>

    <%- include('reuseables/Footer.ejs') %>






