<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/richtexteditor/rte_theme_default.css" />
    <script type="text/javascript" src="/richtexteditor/rte.js"></script>
    <script type="text/javascript" src='/richtexteditor/plugins/all_plugins.js'></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism-okaidia.min.css" integrity="sha512-5HvW0a7ihK3ro2KhwEksDHXgIezsTeZybZDIn8d8Y015Ny+t7QWSIjnlCTjFzlK7Klb604HLGjsNqU/i5mJLjQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --themeColour :  #215f45fd;
    /* --themeColour :  #b43616; */
}
*{
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    box-sizing: border-box;
}


.bgThemeClr{
  background: var(--themeColour) !important;
}

.textThemeClr{
  color: var(--themeColour) !important;
}
.scrollY::-webkit-scrollbar{
 
  display: none;

}
</style>

      <title>PakTrends | Pakistan's Trends | Things Happening in Pakistan </title>
  </head>
  <body class="bg-white">